<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <listener>
        <listener-class>by.belstu.istomin.listeners.L1</listener-class>
    </listener>
    <listener>
        <listener-class>by.belstu.istomin.listeners.L2</listener-class>
    </listener>
    <filter>
        <filter-name>F1</filter-name>
        <filter-class>by.belstu.istomin.filters.F1</filter-class>
    </filter>
    <filter>
        <filter-name>F2</filter-name>
        <filter-class>by.belstu.istomin.filters.F2</filter-class>
    </filter>
    <filter>
        <filter-name>F3</filter-name>
        <filter-class>by.belstu.istomin.filters.F3</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>F1</filter-name>
        <url-pattern>/Ccc</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F2</filter-name>
        <url-pattern>/Ccc</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F3</filter-name>
        <url-pattern>/Ccc</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>F2</filter-name>
        <url-pattern>/Ccc.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CccServlet</servlet-name>
        <servlet-class>by.belstu.istomin.servlets.Ccc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CccServlet</servlet-name>
        <url-pattern>/Ccc</url-pattern>
    </servlet-mapping>
</web-app>