<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ISTOMIN I. O.
<a href="./address.html">Address</a>
<a href="./education.html">Education</a>
<a href="/AS_88888/GoSss">SERVLET</a>
<a href="/AS_88888/GoSss?firstname=ilya&lastname=istomin">SERVLET WITH PARAMS</a>

<form method="post" action="GoSss">
    <input type="submit" value="SUBMIT">
</form>

<form method="post" action="GoSss">
    <label>
        FirstName
        <input type="text" name="firstname"/>
    </label>
    <label>
        LastName
        <input type="text" name="lastName"/>
    </label>
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>